.contact-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1 1 40%;
    color: #8b949e;
}

.contact-info p {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.social-links a {
    color: #58a6ff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-links a:hover {
    color: #79c0ff;
}

.contact-form {
    flex: 1 1 55%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background-color: #0d1117;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #fff;
}

.contact-form textarea {
    resize: vertical;
    min-height: 120px;
}

.contact-form button {
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #7156b5;
    min-height: 100vh;
    /* altura mínima da viewport */
}

main {
    flex: 1;
    /* faz o main ocupar o espaço restante */
}

footer {

    text-align: center;
    padding: 1.5rem 5%;
    background-color: #0d1117;
    color: #fff;
}

h2 {
    text-align: center;
}

div.logo {
    text-align: left;

}
h2.section-title{
    size:100px;
    color: #0d1117;
}
div.logo{
    font-size: larger; 
    color: #0d1117;
    padding: 22px;
    margin-top: 70px;
    padding-top: 50px;
    position: relative;
    top: 100px;

    
}
div.contact-info{
padding: 22px;    
}
img{
    margin-top: -500px;
    width: 250px;
    height: 250px;
}
